body {
    padding: 0;
    margin: 0;
}

.ContainerNavbar {
    padding: 4px;
    background-color: #026AA7;
}

.Navbar {
    display: flex;
    width: 100%;
}

.BtnHome {
    width: 41px;
    height: 41px;
    background-color: #284968;
}

.bttn {
    background-color: #4E97C2;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.MyBoards {
    width: 160px;
    height: 41px;
    position: relative;
    margin-left: 4px;
}

.CreateBoard {
    margin-left: 4px;
}

.MyBoards::before {
    content: '';
    width: 28.03px;
    height: 24px;
    position: absolute;
    background-image: url('../images/logo.svg');
    left: 2px;
}

.brand {
    margin: 0 auto;
    width: 138px;
    height: 32px;
}

.LoginImg {
    width: 41px;
    height: 41px;
    background-image: url('../images/profile.svg');
}
