body {
    padding: 0;
    margin: 0;
    background-color: #284968;
    height: 100%;
}

.containerNavbar {
    padding: 4px;
    background-color: #026AA7;
}

.navbar {
    display: flex;
    width: 100%;
}

.navbar__btnHome::before {
    content: '';
    width: 17px;
    height: 19px;
    position: absolute;
    top: 11px;
    left: 12px;
    background-image: url('/images/home.svg');
}

/* .bttn {
    ;
    border: none;
    color: #fff;
} */

.navbar__myBoards::before {
    content: '';
    width: 28.03px;
    height: 24px;
    position: absolute;
    background-image: url('/images/logo.svg');
    left: 7px;
}

.navbar__brand {
    margin: 0 auto;
    width: 138px;
    height: 32px;
}